*node_modules
/build
.key_secret
.alpha_pk
.staging_pk
.e_pk
.p_pk
secrets.json
arguments.js
.infura_secret
.openzeppelin
.DS_Store
test/data.json
yarn-error.log
.vscode
.idea/*

*.orig
.env
/artifacts
/cache
/scripts-verify
/typechain-types
/subgraph